@reference "tailwindcss";

.content {
  @apply border-2 border-dashed border-gray-200 dark:border-gray-700 rounded bg-gray-50 dark:bg-gray-950 flex-auto flex justify-center items-center font-medium;
}

.non-clickable{
  pointer-events: none;
}
